/**/
* {
      margin: 0;
      padding: 0;
      font-family: arial;
    }
    .container {
      display: grid;
      grid-template-columns: 1.5fr 2.5fr;
      grid-template-rows: 10vh 80vh 10vh;;
      grid-template-areas: "menu menu" "div div" "footer footer";
    }
    menu {
      background: rgb(63,94,251);
      background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
      grid-area: menu;
      color: white;
      padding: 1.5vh;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 4vh; 
    }

    div {
      background-color: rgb(46, 66, 241);
      grid-area: div;
      color: white;
      display: flex;
      justify-content: center;
      
    }
    div form{
      margin-top:  30vh;
    }

    footer {
      color: white;
      background-color: black;
      grid-area: footer;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .botao{
      padding: 0.5vh;
      cursor: pointer;
    }
    .botao:hover{
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}
input, .botao{
  margin-bottom: 2vh;
}
.res{
  height: 20vh;
}
